@using System.Security.Claims;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Application</title>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <link rel="stylesheet" href="~/lib/fontawesome-5.15.1/css/all.css" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/semantic-ui/semantic.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <nav>
        @{
            if (User.IsInRole("Soporte de sistemas"))
            {
                // agregar los menús dependiendo del rol
            }
        }
        <div class="ui top menu">
            <div class="ui container">
                <div class="item">
                    <img style="height: 30px; width: auto;" src="~/img/enacal-icon.svg">
                </div>
                <a asp-controller="TechnicalAssistance" asp-action="Index" class="item">Tareas</a>
                <a asp-controller="Employee" asp-action="Index" class="item">Empleados</a>
                <div class="ui dropdown item">
                    Reportes <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item">Reporte 1</div>
                        <div class="item">Reporte 2</div>
                    </div>
                </div>                                
                <div class="ui dropdown item right">
                    @User.Identity.Name <i class="dropdown icon"></i>
                    <div class="menu">
                        <div class="item">Tarea Actual</div>
                        <div class="item"><a asp-controller="Authenticate" asp-action="SignOut">Cerrar Sesión</a></div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    
    <div class="ui container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/fontawesome-5.15.1/js/all.js"></script>
    <script src="~/lib/semantic-ui/semantic.min.js"></script>
    @*<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>*@
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>